/* original css */
:root{
    --violet: #7e22ce;
    --white: #faf5ff;
    --grey: #e5e7eb;
    --light-violet: #a855f7;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
    font-family: 'Urbanist', sans-serif;

}

h1 {
    font-size: 2em;
    font-weight: bold;
}

li {
    list-style: none;
}

/* for the whole page */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* for the side bar */
.sidebar {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--violet);
    color: var(--white);
    padding: 1.5rem;
}

/* for the dashboard and the icon */
.sidebar .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.sidebar svg {
    height: 2rem;
    width: 2rem;
    fill: var(--white);
    align-self: center;
}

.sidebar a{
    display: flex;
    gap: .5rem;
    color: var(--white);
    text-decoration: none;
    align-items: center;
}

ul{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.sidebar li svg, .sidebar li a {
    height: 1.5rem;
    width: auto;
    font-size: 1.5rem;
}

.nav, .settings{
    padding-left: 2rem;
}

/* for the main content */
.main{
    flex: 1 1 85%;
}

/* for the search bar and header */
.search-profile{
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.search-profile svg, .search-profile input {
    height: 1.5rem;
    width: auto;
}

.search-profile svg {
    fill: var(--violet);
}

.search-profile input {
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 30px;
    background-color: var(--grey);
    width: 50rem;
    padding: 10px;
}

.profile-notify {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.notification {
  align-self: center;
  justify-self: center;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* for the intro */
.intro {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.intro .intro-title{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.intro button{
    color: var(--white);
    background-color: var(--violet);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

/* for the content */
.content h1{
  font-size: larger;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
  background-color: var(--grey);
}

.projects {
  grid-row: 1/4;
  grid-column: 1/2;
}

.projects h1 {
  padding: 1rem;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card {
  height: 180px;
  background-color: var(--white);
  border-radius: 10px;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.card p {
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
}

.card:hover {
  box-shadow: -5px -5px 0 var(--light-violet);
}

/* for the trending and announcements section */
/*for the announcements */
.anno-and-trend {
  grid-row: 1/4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.anno-and-trend h1 {
  padding: 1rem;
}

.anno-and-trend .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: var(--white);
  border-radius: 0;
  border-bottom: 10px solid var(--grey);
}

.anno-and-trend .card:hover {
  box-shadow: none;
}